@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

html, body {
    background-color: slategray;
    margin: 0;
    padding: 0;
    /* background-color: rgb(110, 253, 253); */
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-align: center;
    
}

header {
    background-color: #333333;
}

.nav {
    margin: 0;
    padding: 20px 0;
}

.nav li {
    display: inline;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left:10px;
    margin-right:10px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: space-between;
    background-color: transparent;
    text-align:center;
}

/* .btn {
    background-color: #08d;
    padding: 12px 20px;
    box-sizing: border-box;
    color: #eee;
    border: none;
    border-radius: 12px;
    cursor: pointer;
} */

.content {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    height: 800px;
}

img {
    height: 55px;
    width: 55px;
}

.last-content {
    margin: 40px;
}

.icons p {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
}