@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    text-align: center;
    
}

header {
    color: lightgrey;
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px 40px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: space-between;
    background-color: transparent;
}

/* .btn {
    background-color: #08d;
    padding: 12px 20px;
    box-sizing: border-box;
    color: #eee;
    border: none;
    border-radius: 12px;
    cursor: pointer;
} */

body {
    background-color: slategray;
    background-image: url(../images/File\ sharing\ and\ storage\ made\ simple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(110, 253, 253); */
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 600;
    }

img {
    height: 55px;
    width: 55px;
}

.last-content {
    margin: 40px;
}